.background_image{
  background-image: url(imgs/back_p1.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}
.background{
  background-image: url(imgs/bg_all.jpg);
  background-size: 100%;
  background-attachment: fixed;
  background-position: center;
}
.puppies{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.puppies div{
  border: 4px border #ffffff;
  flex: 1;
  flex-direction: row;
  align-items: center;
}
img{
  width:50%;
}
body{
  margin:0;
  font-family: 'Retro Gaming';
  }
h1, h2, h3{
  font-family: 'Retro Gaming';
  color: #ffffff;
  }
h1{
  font-size:171.82px;
  text-align: center;}
h2{
  font-size:48px;
  text-align: center;}
h3{
  font-size:56.01px;
  text-align: center;}
